html {
  font-family: "HKGroteskMedium", sans-serif;
  font-size: 14px;
  color: #222;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  position: fixed;
  background: #f9f8f8;
  width: 100vw;
  top: 0;
  height: 64px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;
  box-shadow: 0px 2px 8px -1px #22222280;
}
nav ul {
  list-style: none;
  padding: 0 10px;
}
nav li {
  display: inline-block;
  color: #9a714c;
  margin-right: 20px;
  font-style: italic;
  font-weight: 400;
  font-size: 1.25em;
  transition: ease-in 0.2s;
}

nav li:hover{
  color: #624831e6;
  transition: ease-in 0.2s;
}

main {
  padding-top: 64px;
  scroll-snap-type: y proximity;
}

.section-wrapper {
  scroll-snap-align: start;
}

#welcome-section {
  height: calc(100vh - 64px);
  background-image: url(main-background.jpg);
  background-size: cover;
  /* background-attachment: fixed; */
}

#welcome-section a {
  color: #fff;
  font-size: 1.5em;
  position: absolute;
  bottom: 32px;
  transition: ease-in 0.2s;
}

#welcome-section a:hover {
  color: #ffffff8a;
  transition: ease-in 0.2s;
}

#welcome-section div {
  width: 100%;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcome-section h1 {
  font-weight: 600;
  font-style: italic;
  text-align: center;
  color: #fff;
  font-size: 4em;
  padding: 0 32px;
}

/* projects section */
#projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 40px;
  margin: 40px;
}
.section-header{
  margin: 50px 20px 32px;
  font-size: 2em;
}

.section-header::before {
  display: block;
  content: '';
  margin-top: -98px;
  height: 98px;
}

.project-tile img, .empty{
  width: 100%;
  height: calc((100vw - 160px) / 3);
  object-fit: cover;
  transition: ease-in 0.1s;
}
.overlay {
  height: calc((100vw - 160px) / 3);
  width: calc((100vw - 160px) / 3);
  background-color: #222;
  position: absolute;
  z-index: -1;
}

.project-tile img:hover {
  opacity: 65%;
  transition: ease-in 0.1s;
}


#proj-1 {
  object-position: 50% 42%;
}
#proj-2 {
  object-position: center;
}
#proj-3 {
  object-position: 50% 60%;
}
#proj-4 {
  object-position: 30% 50%;
}
#proj-6 {
  object-position: 50% 60%;
}
.empty {
  background-color: #9a714cbf;
}
.project-tile h3 {
  font-weight: 400;
  text-align: center;
  margin: 10px;
}

footer {
  background-color: #ccc7c3;
  padding: 20px;
}
footer h3 {
  margin: 0.5em 0;
}
footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.45em;
  column-count: 2;
}
footer ul li {
  margin-right: 10px;
}
footer ul li a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: ease-in 0.1s;
}
footer ul li:hover {
  color: #624831e6;
  transition: ease-in 0.1s;
}

footer ul li p {
  display: inline;
  font-size: 16px;
  margin: 10px 0px 10px 0.5em;
}
footer ul i {
  color: inherit;;
  margin-right: 5px;
}


@media (max-width: 799px) {
   main #projects {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: 20px;
   }
  
  .project-tile img, .empty {
    height: calc((100vw - 60px)/2);
  }
  
  .overlay {
    height: calc((100vw - 60px) /2);
    width: calc((100vw - 60px) / 2);
  }

  #welcome-section {
    background-image: url(https://images.unsplash.com/photo-1561627368-fdc44e974e31?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80);
    background-size: cover;
  }
  
  nav li{
    font-size: 1.125em;
  }
}


@media (max-width: 499px) {
  main #welcome-section div h1 {
    font-size: 3em;
  }

  main #projects{
    grid-template-columns: 1fr;
    grid-gap: 32px;
    margin: 32px;
  }
    
  .section-header{
    margin: 32px;
    font-size: 1.8em;
  }

  main #projects .project-tile img {
    height: calc(100vw - 64px);
  }
  
  .overlay {
    height: calc(100vw - 64px);
    width: calc(100vw - 64px);
  }
    
  .empty {
    display: none;
  }
  
  main #projects .project-tile h3 {
    margin: 0;
    margin-top: 0.55em;
  }
  
  nav ul {
    margin: 0 auto;
  }
  
  nav li {
    font-size: 1em;
  }
  
  nav li:last-child {
    margin-right: 0;
  }
}